@charset "utf-8";

$white: #ffffff;
$blue: #242f9b;

.header {
  width: 100%;
  height: 80px;
  background-color: $blue;
  color: $white;
  display: flex;
  justify-content: space-between;

  .sign-out-button {
    color: $white;
    margin: auto 25px auto auto;
  }
}
