.home {
  .overview {
    margin: 10px 0px 30px 20px;
    .title {
      margin-bottom: 10px;
      font-size: 30px;
    }
    .url-container {
      display: flex;
      margin-bottom: 20px;
    }
    .reviewer-container {
      display: flex;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
