.home {
  .new-button {
    margin: 20px 0px 20px 20px;
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .overview {
    margin: 10px 0px 30px 20px;
    .title {
      margin-bottom: 10px;
      font-size: 30px;
    }
    .url-container {
      display: flex;
      margin-bottom: 20px;
    }
    .reviewer-container {
      display: flex;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
